{% extends "layout.html" %}
{% load static %}
{% block body %}
<header id="masthead" class="site-header">
    <div class="site-branding">
        <h1 class="site-title"><a href="{% url 'index' %}" rel="home" style="color:#29adce">Mavi Dünyam</a></h1>	
    </div>
    <nav id="site-navigation" class="main-navigation" style="border-color:#29adce;">
    <button class="menu-toggle" style="color:#29adce">Menu</button>
    <a class="skip-link screen-reader-text" href="#content"style="color:#29adce">Skip to content</a>
    <div class="menu-menu-1-container">
        <ul id="menu-menu-1" class="menu">
            <li><a href="{% url 'index' %}" class="color"style="color:#29adce !important;">Ana səhifə</a></li>
            <li><a href="{% url 'about' %}"><font color="#29adce">Haqqında</font></a></li>
            {% for cate in categories %}
            <li><a href="/articles/category/{{cate.id}}"><font color="#29adce">{{cate.name}}</font></a></li>
            {% endfor %}
            <li><a href="#"><font color="#29adce">Qeydiyyat</font></a>
                <ul class="sub-menu">
                    {% if request.user.is_authenticated %}
                    <li><a href="/user/logout">Çıxış</a></li>
                    {% else %}
					<li><a href="/user/login">Giriş</a></li>
					
					<li><a href="/user/register">Qeydiyyat</a></li>
                    {% endif %}
				</ul>
            </li>
            <li>
            <form>
                {% csrf_token %} 
               <input type="text" name = "keyword" class="input-sm" maxlength="64" placeholder="Ara...">
             <button type="submit" class="btn btn-danger">Ara</button>
           </form>
        </li>
        </ul>
       
    </div>
    </nav>
    </header>

<!-- #masthead -->
<div id="content" class="site-content">
    <div id="primary" class="content-area column full">
        <main id="main" class="site-main">
        <div class="grid portfoliogrid">
        {% for post in posts %}
            <article class="hentry">
            <header class="entry-header">
            <div class="entry-thumbnail">
                <a href="/articles/article/{{post.id}}"><img src="{{ post.image.url }}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="p1"/></a>
            </div>
            <br>
            <h2 class="entry-title"><a href="/articles/article/{{post.id}}" rel="bookmark"style="color:#29adce">{{post.title}}</a></h2>
            </header>
            </article>
        {% endfor %}			
        </div>
        <!-- .grid -->
        
        <div class="pagination">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href="?page={{ posts.previous_page_number }}">Əvvəıki</a>
                {% endif %}
        
                <span class="current">
                    Səhifə {{ posts.number }} nömrə {{ posts.paginator.num_pages }}.
                </span>
        
                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">Növbəti</a>
                {% endif %}
            </span>
        </div>
                
        <br/>
        
        </main>
        <!-- #main -->
    </div>
    <!-- #primary -->
</div>
<!-- #content -->
</div>
<!-- .container -->


<!-- #page -->
  
{% endblock body %}
